:root {
    --elf-animation-duration: 0;
    --dx: 0px;
    --dy: 0px;
    --dax: 0px;
    --day: 0px;
    --dbx: 0px;
    --dby: 0px;
}

.elf-still > use {
    transform: translate(var(--dbx),var(--dby));
}

.elf-move > use {
    animation-name: elf-move-anim;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: var(--elf-animation-duration);
}

@keyframes elf-move-anim {
    from {
        transform: translate(var(--dax),var(--day));
    }

    to {
        transform: translate(var(--dbx),var(--dby));
    }
}

.elf-killed > use {
    animation-name: elf-killed-anim;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: var(--elf-animation-duration);
    transform: translate(var(--dbx),var(--dby));
}

.elf-hidden > use {
    opacity: 0;
}

@keyframes elf-killed-anim {
    from {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.blizzard-hidden {
    opacity:0;
}

.blizzard {
    animation-name: blizzard-anim;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: var(--elf-animation-duration);
}

@keyframes blizzard-anim {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
