/* /Pages/DefaultPuzzleView.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */

.page[b-qs7qgbma46] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qs7qgbma46] {
    flex: 1;
}

.sidebar[b-qs7qgbma46] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-qs7qgbma46] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qs7qgbma46]  a, .top-row[b-qs7qgbma46]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-qs7qgbma46]  a:hover, .top-row[b-qs7qgbma46]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-qs7qgbma46]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-qs7qgbma46] {
        display: none;
    }

    .top-row.auth[b-qs7qgbma46] {
        justify-content: space-between;
    }

    .top-row[b-qs7qgbma46]  a, .top-row[b-qs7qgbma46]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qs7qgbma46] {
        flex-direction: row;
    }

    .sidebar[b-qs7qgbma46] {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qs7qgbma46] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qs7qgbma46]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qs7qgbma46], article[b-qs7qgbma46] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3abgficp7i] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-3abgficp7i] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-3abgficp7i] {
    font-size: 1.1rem;
}

.oi[b-3abgficp7i] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-3abgficp7i] {
    font-size: 0.9rem;
    padding-bottom: 1.0rem;
}

    .nav-item:first-of-type[b-3abgficp7i] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-3abgficp7i] {
        padding-bottom: 1rem;
    }

    .nav-item[b-3abgficp7i]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
    }

        .nav-item[b-3abgficp7i]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-3abgficp7i]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.scrollable-menu[b-3abgficp7i] {
    max-height: 90%;
    overflow-y: auto;
}
@media (min-width: 641px) {
    .navbar-toggler[b-3abgficp7i] {
        display: none;
    }

    .collapse[b-3abgficp7i] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.puzzle-number[b-3abgficp7i] {
    font-weight: bold;
}

.puzzle-title[b-3abgficp7i] {
    margin-left: 5px; /* Adjust this value as needed */
}
/* /Visualizations/BlizzardBasinVisualization.razor.rz.scp.css */
:root[b-zu4oidzbd2] {
    --elf-animation-duration: 0;
    --dx: 0px;
    --dy: 0px;
}

.elf-move[b-zu4oidzbd2] {
    animation-name: elf-move-anim-b-zu4oidzbd2;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: var(--elf-animation-duration);
}

@keyframes elf-move-anim-b-zu4oidzbd2 {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(var(--dx),var(--dy));
    }
}

.elf-destroyed[b-zu4oidzbd2] {
    animation-name: elf-destroyed-anim-b-zu4oidzbd2;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: var(--elf-animation-duration);
}

@keyframes elf-destroyed-anim-b-zu4oidzbd2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/* /Visualizations/UnstableDiffusionVisualization.razor.rz.scp.css */

.elf-move-right[b-g3mwhiwe6w] {
    animation-name: elf-move-right-anim-b-g3mwhiwe6w;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes elf-move-right-anim-b-g3mwhiwe6w {
    from {
        transform: translate(0px,0px);
    }
    to {
        transform: translate(1px,0px);
    }
}

.elf-move-left[b-g3mwhiwe6w] {
    animation-name: elf-move-left-anim-b-g3mwhiwe6w;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes elf-move-left-anim-b-g3mwhiwe6w {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(-1px,0px);
    }
}

.elf-move-down[b-g3mwhiwe6w] {
    animation-name: elf-move-down-anim-b-g3mwhiwe6w;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes elf-move-down-anim-b-g3mwhiwe6w {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(0px,1px);
    }
}

.elf-move-up[b-g3mwhiwe6w] {
    animation-name: elf-move-up-anim-b-g3mwhiwe6w;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes elf-move-up-anim-b-g3mwhiwe6w {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(0px,-1px);
    }
}
