<h3>DefaultVisualization</h3>
@if (PuzzleOutput is not null)
{
    <p>Step @PuzzleOutput.Step</p>
    <pre class="alert-info m-2 p-2">@PuzzleOutput.Output</pre>
}

@code {
    [Parameter]
    public PuzzleOutput? PuzzleOutput { get; set; }
}
