<p>Step @Step</p>
<pre class="alert-info m-2 p-2">@Solution</pre>

@code {
    [Parameter]
    public int Step { get; set; }
    [Parameter]
    public string Solution { get; set; } = string.Empty;
}
