@if (Solution != string.Empty)
{
    <div class="my-3">
        <span class="p-2 rounded bg-light font-weight-bold">Solution</span>
    </div>
    <pre style="font-size: 25px;line-height: 1;" class="p-2 rounded bg-light font-weight-bold">@Solution</pre>
}
else
{
    <div class="my-3">
        <span class="p-2 rounded bg-info font-weight-bold text-">Iteration number @Step</span>
        <div class="spinner-grow" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Step { get; set; }
    [Parameter]
    public string Solution { get; set; } = string.Empty;
}
