<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdventOfCode2022web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="flex-column">
        <div class="nav-item px-3" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <button class="btn btn-primary mb-2" @onclick="DecrementDay">Prev</button>
            <button class="btn btn-primary mb-2" @onclick="IncrementDay">Next</button>
        </div>

        @foreach (var i in Enumerable.Range(day, 5))
        {
            <div class="nav-item px-3" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="@string.Format("day/{0}",i)">
                    <span class="oi oi-puzzle-piece" aria-hidden="true"></span>@string.Format("Day {0}",i)
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private int day = 1;
    private void IncrementDay()
    {
        day += Math.Min(5,21-day) ;
    }
    private void DecrementDay()
    {
        day -= Math.Min(5, day-1);
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
