<h3>View the code of the solution</h3>
<p class="form-label">No code viewer here, view the solution on <a href="https://github.com/sylvain69780/AdventOfCode2022web/blob/master/AdventOfCode2022/PuzzleSolutions/@(PuzzleType.Replace("Solution",""))">GitHub</a>.</p>
@code {
    [Parameter]
    public string PuzzleType { get; set; } = string.Empty;
}
