@inherits PuzzleViewBase
@inject HttpClient Http
<h3>PuzzleInputForm</h3>
<div>
    <label class="form-label">The data below is that provided for example. Paste your own user input from <a href="https://adventofcode.com/2022/day/PuzzleNumber">Advent Of Code</a>.</label>
    <pre><textarea class="form-control" aria-label="Puzzle Input" rows="10" @bind="_input" maxlength="10000000"></textarea></pre>
</div>
@if (_input != _inputBefore)
{
    InitializePuzzle();
    _inputBefore = _input;
}
@code {

    string _input = string.Empty;
    string _inputBefore = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadDefaultPuzzleInput();
        InitializePuzzle();
        await base.OnInitializedAsync();
    }

    private async Task LoadDefaultPuzzleInput()
    {
        var puzzleType = Parent!.PuzzleSolution!.GetType();
        var puzzleInputFile = puzzleType.Name;
        if (puzzleType == typeof(PuzzleSolverWrapper))
            puzzleInputFile = ((PuzzleSolverWrapper)(Parent.PuzzleSolution)).PuzzleType.Name;
        _input = (await Http.GetStringAsync($"sample-data/{puzzleInputFile}.txt")).Replace("\r", "");
    }

    private void InitializePuzzle()
    {
        Parent!.PuzzleSolution!.Initialize(_input);
        Parent.NotifyStateHasChanged();
        Parent.PuzzleInputReloaded = true;
    }
}
