@inherits PuzzleViewBase
@inject HttpClient Http
<h3>PuzzleInputForm</h3>
<div>
    <label class="form-label">The data below is that provided for example. Paste your own user input from <a href="https://adventofcode.com/2022/day/PuzzleNumber">Advent Of Code</a>.</label>
    <pre><textarea class="form-control" aria-label="Puzzle Input" rows="10" @bind="_input" maxlength="10000000"></textarea></pre>
    <button @onclick=@InitializePuzzle>Initialize</button>
</div>

@code {

    string _input = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadDefaultPuzzleInput();
        InitializePuzzle();
        await base.OnInitializedAsync();
    }

    private async Task LoadDefaultPuzzleInput()
    {
        if (Parent == null || Parent.PuzzleBase == null)
            throw new NullReferenceException();
        var puzzleType = Parent.PuzzleBase.GetType().Name;
        _input = (await Http.GetStringAsync($"sample-data/{puzzleType}.txt")).Replace("\r", "");
    }

    private void InitializePuzzle()
    {
        if (Parent == null || Parent.PuzzleBase == null)
            throw new NullReferenceException();
        Parent.PuzzleBase.Initialize(_input);
        Parent.NotifyStateHasChanged();
        Parent.PuzzleInputReloaded = true;
    }
}
