@inherits PuzzleViewBase
<h3>View the code of the solution</h3>
<p class="form-label">No code viewer here, view the solution on <a href="https://github.com/sylvain69780/AdventOfCode2022web/blob/master/AdventOfCode2022/PuzzleSolutions/@(PuzzleType).cs">GitHub</a>.</p>
@code {
    private string PuzzleType { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        var puzzle = PuzzleSolutionViewModel!.PuzzleSolution!.GetType();
        if (puzzle == typeof(PuzzleSolutionWrapper))
            puzzle = ((PuzzleSolutionWrapper)(PuzzleSolutionViewModel!.PuzzleSolution!)).PuzzleType;
        PuzzleType = puzzle.Name.Replace("Solution","");
        base.OnInitialized();
    }
}
