@page "/BeaconExclusionZonePage"
@inherits PuzzleSolutionPage
@inject BeaconExclusionZoneSolution PuzzleSolution
<h2>Beacon Exclusion Zone</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
