@page "/BeaconExclusionZonePage"
@inherits PuzzlePageBase
<h2>BeaconExclusionZonePage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public BeaconExclusionZonePage() => PuzzleSolution = new BeaconExclusionZone();
}
