@page "/BeaconExclusionZonePage"
@inherits PuzzlePageBase
<h2>BeaconExclusionZonePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public BeaconExclusionZonePage() => PuzzleSolutionViewModel = new(new BeaconExclusionZone());
}
