@page "/BeaconExclusionZonePage"
@inject PuzzleSolutionViewModel<BeaconExclusionZoneSolution> PuzzleSolutionViewModel
<h2>Beacon Exclusion Zone</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>