@page "/BeaconExclusionZonePage"
<PuzzleSolutionController PuzzleSolver="@_solution" TData="PuzzleSolverDTO" >
<p>
    @(context.Data?.Step ?? 0)
</p>
</PuzzleSolutionController>
@code {
    BeaconExclusionZoneSolution _solution = new();
}
