@page "/BlizzardBasinPage"
@inherits PuzzleSolutionPageBase<BlizzardBasinSolution>
<h2>Blizzard Basin</h2>
<PuzzleSolutionViewer Page=@this>
    <BlizzardBasinVisualization Page="@this" />
</PuzzleSolutionViewer>

