@page "/BlizzardBasinPage"
@inject PuzzleSolutionViewModel<BlizzardBasin> PuzzleSolutionViewModel
<h2>Blizzard Basin Page</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <div class="row">
        <div class="col-lg-6">
            <BlizzardBasinView />
        </div>
        <div class="col-lg-6">
            <PuzzleControler />
            <PuzzleCodeViewer />
            <PuzzleInputForm />
        </div>
    </div>
</CascadingValue>
