@page "/BlizzardBasinBitmapPage"
@inherits PuzzleSolutionPageBase<BlizzardBasinSolution>
<h2>Blizzard Basin Page (Bitmap visualization)</h2>
<PuzzleSolutionViewer Page=@this>
    <BlizzardBasinBitmapVisualization Page="@this" />
</PuzzleSolutionViewer>
