@page "/BlizzardBasinBitmapPage"
@inherits PuzzleSolutionPage
@inject BlizzardBasinSolution PuzzleSolution
<h2>Blizzard Basin Page (Bitmap visualization)</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <div class="row">
            <div class="col-lg-6">
                <BlizzardBasinBitmapView />
            </div>
            <div class="col-lg-6">
                <PuzzleControler />
                <PuzzleCodeViewer />
                <PuzzleInputForm />
            </div>
        </div>
    </CascadingValue>
</CascadingValue>
