:root {
    --blizzard-animation-duration: 0;
    --dx: 0px;
    --dy: 0px;
}

.blizzard-animation {
    animation-name:grow;
    animation-duration: var(--blizzard-animation-duration);
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-timing-function:linear;
}

@keyframes grow {
    from {
        opacity : 0;
    }
    to {
        opacity: 1;
    }
}

.elf-move {
    animation-name: elf-move-anim;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes elf-move-anim {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(var(--dx),var(--dy));
    }
}

.elf-destroyed {
    animation-name: elf-destroyed-anim;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes elf-destroyed-anim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
