@page "/BlizzardBasinPage"
@inherits PuzzleSolutionPage
@inject BlizzardBasinSolution PuzzleSolution
<h2>Blizzard Basin</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value="@PuzzleSolution">
    <div class="row">
        <div class="col-lg-6">
            <BlizzardBasinView />
        </div>
        <div class="col-lg-6">
            <PuzzleControler />
            <PuzzleCodeViewer PuzzleType=@(PuzzleSolution.GetType().Name) />
            <PuzzleInputForm />
        </div>
    </div>
    </CascadingValue>
</CascadingValue>
