@page "/BoilingBouldersPage"
@inject PuzzleSolutionViewModel<BoilingBoulders> PuzzleSolutionViewModel
<h2>BoilingBouldersPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
