@page "/BoilingBouldersPage"
@inject PuzzleSolutionViewModel<BoilingBouldersSolution> PuzzleSolutionViewModel
<h2>Boiling Boulders</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
