@page "/BoilingBouldersPage"
@inherits PuzzlePageBase
<h2>BoilingBouldersPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public BoilingBouldersPage() => PuzzleSolutionViewModel = new(new BoilingBoulders());
}
