@page "/CalorieCountingPage"
@inherits PuzzleSolutionPage
@inject CalorieCountingSolution PuzzleSolution
<h2>Calorie Counting</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>

