@page "/CalorieCountingPage"
@inherits PuzzlePageBase
<h2>CalorieCountingPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public CalorieCountingPage() => PuzzleSolution = new CalorieCounting();
}
