@page "/CalorieCountingPage"
@inherits PuzzleSolutionPageBase<CalorieCountingSolution>
<h2>Calorie Counting</h2>
<PuzzleSolutionViewer Page=@this>
    <CalorieCountingVisualization Page=@this/>
</PuzzleSolutionViewer>
