@page "/CalorieCountingPage"
@inject PuzzleSolutionViewModel<CalorieCounting> PuzzleSolutionViewModel
<h2>CalorieCountingPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
