@page "/CampCleanupPage"
@inherits PuzzlePageBase
<h2>BlizzardBasinPage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public CampCleanupPage() => PuzzleSolution = new CampCleanup();
}
