@page "/CampCleanupPage"
@inherits PuzzleSolutionPage
@inject CampCleanupSolution PuzzleSolution
<h2>Camp Cleanup</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer PuzzleType=@(PuzzleSolution.GetType().Name) />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
