@page "/CampCleanupPage"
@inherits PuzzlePageBase
<h2>CampCleanupPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public CampCleanupPage() => PuzzleSolutionViewModel = new(new CampCleanup());
}
