@page "/CampCleanupPage"
@inject PuzzleSolutionViewModel<CampCleanupSolution> PuzzleSolutionViewModel
<h2>Camp Cleanup</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
