@page "/CathodeRayTubePage"
@inject PuzzleSolutionViewModel<CathodeRayTube> PuzzleSolutionViewModel
<h2>CathodeRayTubePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
