@page "/CathodeRayTubePage"
@inherits PuzzlePageBase
<h2>CathodeRayTubePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public CathodeRayTubePage() => PuzzleSolutionViewModel = new(new CathodeRayTube());
}
