@page "/CathodeRayTubePage"
@inherits PuzzlePageBase
<h2>CathodeRayTubePage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public CathodeRayTubePage() => PuzzleSolution = new CathodeRayTube();
}
