@page "/DistressSignalUsingJsonPage"
@inject PuzzleBasicSolutionViewModel<DistressSignalUsingJsonSolution> PuzzleSolutionViewModel
<h2>Distress Signal UsingJson</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>