@page "/DistressSignalUsingJsonPage"
@inherits PuzzlePageBase
<h2>DistressSignalUsingJsonPage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public DistressSignalUsingJsonPage() => PuzzleSolution = new PuzzleSolverWrapper(new DistressSignalUsingJson());
}
