@page "/DistressSignalUsingJsonPage"
@inherits PuzzlePageBase
<h2>DistressSignalUsingJsonPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public DistressSignalUsingJsonPage() => PuzzleSolution = new PuzzleSolutionWrapper(new DistressSignalUsingJson());
}
