@page "/DistressSignalPage"
@inject PuzzleBasicSolutionViewModel<DistressSignal> PuzzleSolutionViewModel
<h2>DistressSignalPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
