@page "/DistressSignalUsingJsonPage"
@inherits PuzzlePageBase
<h2>DistressSignalUsingJsonPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public DistressSignalUsingJsonPage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new DistressSignalUsingJson()));
}
