@page "/DistressSignalUsingJsonPage"
@inherits PuzzleSolutionPage
@inject DistressSignalUsingJsonSolution PuzzleSolution
<h2>Distress Signal UsingJson</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer PuzzleType=@(PuzzleSolution.GetType().Name) />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
