@page "/FullOfHotAirPage"
@inject PuzzleSolutionViewModel<FullOfHotAir> PuzzleSolutionViewModel
<h2>FullOfHotAirPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
