@page "/FullOfHotAirPage"
@inherits PuzzlePageBase
<h2>FullOfHotAirPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public FullOfHotAirPage() => PuzzleSolutionViewModel = new(new FullOfHotAir());
}
