@page "/FullOfHotAirPage"
@inject PuzzleSolutionViewModel<FullOfHotAirSolution> PuzzleSolutionViewModel
<h2>Full Of Hot Air</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
