@page "/FullOfHotAirPage"
@inherits PuzzlePageBase
<h2>FullOfHotAirPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public FullOfHotAirPage() => PuzzleSolution = new FullOfHotAir();
}
