@page "/GrovePositioningSystemPage"
@inherits PuzzlePageBase
<h2>GrovePositioningSystemPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public GrovePositioningSystemPage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new GrovePositioningSystem()));
}