@page "/GrovePositioningSystemPage"
@inherits PuzzlePageBase
<h2>GrovePositioningSystemPage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public GrovePositioningSystemPage() => PuzzleSolution = new PuzzleSolverWrapper(new GrovePositioningSystem());
}