@page "/GrovePositioningSystemPage"
@inject PuzzleBasicSolutionViewModel<GrovePositioningSystemSolution> PuzzleSolutionViewModel
<h2>Grove Positioning System</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>