@page "/GrovePositioningSystemPage"
@inject PuzzleBasicSolutionViewModel<GrovePositioningSystem> PuzzleSolutionViewModel
<h2>GrovePositioningSystemPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>