@page "/GrovePositioningSystemPage"
@inherits PuzzlePageBase
<h2>GrovePositioningSystemPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public GrovePositioningSystemPage() => PuzzleSolution = new PuzzleSolutionWrapper(new GrovePositioningSystem());
}