@page "/GrovePositioningSystemPage"
@inherits PuzzleSolutionPage
@inject GrovePositioningSystemSolution PuzzleSolution
<h2>Grove Positioning System</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
