@page "/HillClimbingAlgorithmPage"
@inherits PuzzleSolutionPage
@inject HillClimbingAlgorithmSolution PuzzleSolution
<h2>Hill Climbing Algorithm</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer PuzzleType=@(PuzzleSolution.GetType().Name) />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
