@page "/HillClimbingAlgorithmPage"
@inject PuzzleBasicSolutionViewModel<HillClimbingAlgorithmSolution> PuzzleSolutionViewModel
<h2>Hill Climbing Algorithm</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>