@page "/HillClimbingAlgorithmPage"
@inherits PuzzlePageBase
<h2>HillClimbingAlgorithmPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public HillClimbingAlgorithmPage() => PuzzleSolution = new PuzzleSolverWrapper(new HillClimbingAlgorithm());
}
