@page "/"
@using AdventOfCode2022web.Puzzles;
@using System.Reflection;
@inject PuzzleHelper puzzleHelper;

<PageTitle>Advent of Code WEB</PageTitle>

<h1>Advent of Code WEB !</h1>

<p>This application aims to improve my practice of the C# language.</p>
<p>Yes it is possible to create a Web SPA application in C#, thanks to WebAssembly !</p>
<p>Here you will find my solutions to Advent of Code 2022 puzzles. This is an awesome event, and you are free to pay a tip (like I did) to Eric Wastl.</p>
<p>Day 27 is a Sudoku Solver, with no relation with Advent of Code !</p>
