@page "/"

<PageTitle>Advent of Code WEB</PageTitle>

<h1>Advent of Code WEB !</h1>

<p>
    This application purpose is for me to improve my practice of the C# language.
    <br />
    Yes it is possible to create a Web SPA application in C#, thanks to WebAssembly !
</p>
