@page "/"

<PageTitle>Advent of Code WEB</PageTitle>

<h1>Advent of Code WEB !</h1>

<p>This application aims to improve my practice of the C# language.</p>
<p>Yes it is possible to create a Web SPA application in C#, thanks to WebAssembly !</p>
<p>Here you will find my solutions to Advent of Code 2022 puzzles.</p>
<p>Some puzzles require a lot of computing power and it's not very compatible with the use of a web browser.</p>
<p>Day 27 is a Sudoku Solver, with no relation with Advent of Code !</p>
