@page "/"
@using sylvain69780.AdventOfCode2022.Domain;
@using System.Reflection;

<PageTitle>Puzzle Solution Viewer</PageTitle>

<h1>Puzzle Solution Viewer</h1>

<p>This application aims to improve my practice of the C# language.</p>
<p>Yes it is possible to create a Web SPA application in C#, thanks to WebAssembly !</p>
<p>Here you will find my solutions to <a href="https://adventofcode.com/2022">Advent of Code 2022</a> puzzles. </p>
<p>This is an awesome event and allows to publish my solutions here.</p>
<p>Some of them (in green) have an associated visualization.</p>
<p>The bonus page is a Sudoku Solver.</p>
