@page "/MonkeyInTheMiddlePage"
@inject PuzzleBasicSolutionViewModel<MonkeyInTheMiddleSolution> PuzzleSolutionViewModel
<h2>Monkey In The Middle</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>