@page "/MonkeyMathPage"
@inherits PuzzleSolutionPage
@inject MonkeyMathSolution PuzzleSolution
<h2>Monkey Math</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>

