@page "/MonkeyInTheMiddlePage"
@inherits PuzzlePageBase
<h2>MonkeyInTheMiddlePage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public MonkeyInTheMiddlePage() => PuzzleSolution = new PuzzleSolutionWrapper(new MonkeyInTheMiddle());
}
