@page "/MonkeyMapPage"
@inject PuzzleSolutionViewModel<MonkeyMapSolution> PuzzleSolutionViewModel
<h2>Monkey Map</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
