@page "/MonkeyMapPage"
@inherits PuzzlePageBase
<h2>MonkeyMapPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public MonkeyMapPage() => PuzzleSolutionViewModel = new(new MonkeyMap());
}
