@page "/MonkeyMathPage"
@inject PuzzleBasicSolutionViewModel<MonkeyMathSolution> PuzzleSolutionViewModel
<h2>Monkey Math</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>

