@page "/MonkeyMathPage"
@inherits PuzzlePageBase
<h2>MonkeyMathPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public MonkeyMathPage() => PuzzleSolution = new PuzzleSolutionWrapper(new MonkeyMath());
}
