@page "/MonkeyMathPage"
@inherits PuzzlePageBase
<h2>MonkeyMathPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public MonkeyMathPage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new MonkeyMath()));
}
