@page "/MonkeyMapPage"
@inject PuzzleSolutionViewModel<MonkeyMap> PuzzleSolutionViewModel
<h2>MonkeyMapPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
