@page "/MonkeyInTheMiddlePage"
@inject PuzzleBasicSolutionViewModel<MonkeyInTheMiddle> PuzzleSolutionViewModel
<h2>MonkeyInTheMiddlePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>