@page "/MonkeyInTheMiddlePage"
@inherits PuzzleSolutionPage
@inject MonkeyInTheMiddleSolution PuzzleSolution
<h2>Monkey In The Middle</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer PuzzleType=@(PuzzleSolution.GetType().Name) />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
