@page "/NoSpaceLeftOnDevicePage"
@inherits PuzzlePageBase
<h2>NoSpaceLeftOnDevicePage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public NoSpaceLeftOnDevicePage() => PuzzleSolution = new PuzzleSolverWrapper(new NoSpaceLeftOnDevice());
}
