@page "/NoSpaceLeftOnDevicePage"
@inject PuzzleBasicSolutionViewModel<NoSpaceLeftOnDevice> PuzzleSolutionViewModel
<h2>NoSpaceLeftOnDevicePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
