@page "/NoSpaceLeftOnDevicePage"
@inject PuzzleBasicSolutionViewModel<NoSpaceLeftOnDeviceSolution> PuzzleSolutionViewModel
<h2>No Space Left On Device</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
