@page "/NoSpaceLeftOnDevicePage"
@inherits PuzzleSolutionPage
@inject NoSpaceLeftOnDeviceSolution PuzzleSolution
<h2>No Space Left On Device</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
