@page "/NotEnoughMineralsPage"
@inherits PuzzlePageBase
<h2>NotEnoughMineralsPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public NotEnoughMineralsPage() => PuzzleSolution = new PuzzleSolverWrapper(new NotEnoughMinerals());
}
