@page "/ProboscideaVolcaniumPage"
@inherits PuzzleSolutionPage
@inject ProboscideaVolcaniumSolution PuzzleSolution
<h2>Proboscidea Volcanium</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer PuzzleType=@(PuzzleSolution.GetType().Name) />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>


