@page "/ProboscideaVolcaniumPage"
@inject PuzzleBasicSolutionViewModel<ProboscideaVolcaniumSolution> PuzzleSolutionViewModel
<h2>Proboscidea Volcanium</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>

