@page "/ProboscideaVolcaniumPage"
@inherits PuzzlePageBase
<h2>ProboscideaVolcaniumPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public ProboscideaVolcaniumPage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new ProboscideaVolcanium()));
}
