@page "/PyroclasticFlowPage"
@inherits PuzzlePageBase
<h2>PyroclasticFlowPage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public PyroclasticFlowPage() => PuzzleSolution = new PuzzleSolverWrapper(new PyroclasticFlow());
}
