@page "/PyroclasticFlowPage"
@inject PuzzleBasicSolutionViewModel<PyroclasticFlowSolution> PuzzleSolutionViewModel
<h2>Pyroclastic Flow</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
