@page "/PyroclasticFlowPage"
@inherits PuzzlePageBase
<h2>PyroclasticFlowPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public PyroclasticFlowPage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new PyroclasticFlow()));
}
