@page "/PyroclasticFlowPage"
@inherits PuzzleSolutionPage
@inject PyroclasticFlowSolution PuzzleSolution
<h2>Pyroclastic Flow</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>

