@page "/PyroclasticFlowPage"
@inject PuzzleBasicSolutionViewModel<PyroclasticFlow> PuzzleSolutionViewModel
<h2>PyroclasticFlowPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
