@page "/RegolithReservoirPage"
@inherits PuzzlePageBase
<h2>RegolithReservoirPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
<div class="row">
    <div class="col-lg-6">
        <RegolithReservoirView />
    </div>
    <div class="col-lg-6">
        <PuzzleCodeViewer/>
        <PuzzleInputForm />
        <PuzzleControler />
    </div>
</div>
</CascadingValue>
@code {
    public RegolithReservoirPage() => PuzzleSolutionViewModel = new(new RegolithReservoir());
}
