@page "/RegolithReservoirPage"
@inject PuzzleSolutionViewModel<RegolithReservoirSolution> PuzzleSolutionViewModel
<h2>Regolith Reservoir</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
<div class="row">
    <div class="col-lg-6">
        <RegolithReservoirView />
    </div>
    <div class="col-lg-6">
        <PuzzleCodeViewer/>
        <PuzzleInputForm />
        <PuzzleControler />
    </div>
</div>
</CascadingValue>
