@page "/RegolithReservoirPage"
@inherits PuzzlePageBase
<h2>RegolithReservoirPage</h2>
<CascadingValue Name="Parent" Value=@this>
<div class="row">
    <div class="col-lg-6">
        <RegolithReservoirView />
    </div>
    <div class="col-lg-6">
        <PuzzleInputForm />
        <PuzzleControler />
    </div>
</div>
</CascadingValue>
@code {
    public RegolithReservoirPage() => PuzzleSolution = new RegolithReservoir();
}
