@page "/RockPaperScissorsPage"
@inherits PuzzlePageBase
<h2>RockPaperScissorsPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public RockPaperScissorsPage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new RockPaperScissors()));
}
