@page "/RockPaperScissorsPage"
@inherits PuzzlePageBase
<h2>RockPaperScissorsPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public RockPaperScissorsPage() => PuzzleSolution = new PuzzleSolverWrapper(new RockPaperScissors());
}
