@page "/RockPaperScissorsPage"
@inherits PuzzleSolutionPage
@inject RockPaperScissorsSolution PuzzleSolution
<h2>Rock Paper Scissors</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>
