@page "/RockPaperScissorsPage"
@inject PuzzleBasicSolutionViewModel<RockPaperScissorsSolution> PuzzleSolutionViewModel
<h2>Rock Paper Scissors</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
