@page "/RopeBridgePage"
@inherits PuzzlePageBase
<h2>BlizzardBasinPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public RopeBridgePage() => PuzzleSolution = new RopeBridge();
}
