@page "/RopeBridgePage"
@inherits PuzzlePageBase
<h2>RopeBridgePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public RopeBridgePage() => PuzzleSolutionViewModel = new(new RopeBridge());
}
