@page "/RopeBridgePage"
@inject PuzzleSolutionViewModel<RopeBridgeSolution> PuzzleSolutionViewModel
<h2>Rope Bridge</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
