@page "/RopeBridgePage"
@inject PuzzleSolutionViewModel<RopeBridge> PuzzleSolutionViewModel
<h2>RopeBridgePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
