@page "/RucksackReorganizationPage"
@inherits PuzzlePageBase
<h2>RucksackReorganizationPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public RucksackReorganizationPage() => PuzzleSolution = new PuzzleSolverWrapper(new RucksackReorganization());
}
