@page "/RucksackReorganizationPage"
@inject PuzzleBasicSolutionViewModel<RucksackReorganizationSolution> PuzzleSolutionViewModel
<h2>Rucksack Reorganization</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
