@page "/RucksackReorganizationPage"
@inherits PuzzlePageBase
<h2>RucksackReorganizationPage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public RucksackReorganizationPage() => PuzzleBase = new PuzzleSolverWrapper(new RucksackReorganization());
}
