@page "/RucksackReorganizationPage"
@inject PuzzleBasicSolutionViewModel<RucksackReorganization> PuzzleSolutionViewModel
<h2>RucksackReorganizationPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
