@page "/SudokuPage"
@inject PuzzleSolutionViewModel<SudokuSolution> PuzzleSolutionViewModel
<h2>Sudoku Solver</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
<div class="row">
    <div class="col-lg-6">
        <SudokuView />
    </div>
    <div class="col-lg-6">
        <PuzzleCodeViewer/>
        <PuzzleInputForm />
        <PuzzleControler />
    </div>
</div>
</CascadingValue>
