@page "/SupplyStacksPage"
@inherits PuzzlePageBase
<h2>SupplyStacksPage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public SupplyStacksPage() => PuzzleSolution = new PuzzleSolutionWrapper(new SupplyStacks());
}