@page "/SupplyStacksPage"
@inject PuzzleBasicSolutionViewModel<SupplyStacksSolution> PuzzleSolutionViewModel
<h2>Supply Stacks</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
