@page "/SupplyStacksPage"
@inject PuzzleBasicSolutionViewModel<SupplyStacks> PuzzleSolutionViewModel
<h2>SupplyStacksPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
