@page "/SupplyStacksPage"
@inherits PuzzlePageBase
<h2>SupplyStacksPage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public SupplyStacksPage() => PuzzleBase = new PuzzleSolverWrapper(new SupplyStacks());
}