@page "/TreetopTreeHousePage"
@inherits PuzzlePageBase
<h2>TreetopTreeHousePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public TreetopTreeHousePage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new TreetopTreeHouse()));
}