@page "/TreetopTreeHousePage"
@inject PuzzleBasicSolutionViewModel<TreetopTreeHouse> PuzzleSolutionViewModel
<h2>TreetopTreeHousePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
