@page "/TreetopTreeHousePage"
@inherits PuzzleSolutionPage
@inject TreetopTreeHouseSolution PuzzleSolution
<h2>Treetop Tree House</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <PuzzleCodeViewer />
        <PuzzleInputForm />
        <PuzzleControler />
    </CascadingValue>
</CascadingValue>

