@page "/TreetopTreeHousePage"
@inherits PuzzlePageBase
<h2>TreetopTreeHousePage</h2>
<CascadingValue Name="Parent" Value=@this>
        <PuzzleInputForm/>
        <PuzzleControler/>
</CascadingValue>
@code {
    public TreetopTreeHousePage() => PuzzleSolution = new PuzzleSolverWrapper(new TreetopTreeHouse());
}