@page "/TuningTroublePage"
@inherits PuzzlePageBase
<h2>TuningTroublePage</h2>
<CascadingValue Name="Parent" Value=@this>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public TuningTroublePage() => PuzzleSolution = new PuzzleSolutionWrapper(new TuningTrouble());
}