@page "/TuningTroublePage"
@inject PuzzleBasicSolutionViewModel<TuningTrouble> PuzzleSolutionViewModel
<h2>TuningTroublePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
