@page "/TuningTroublePage"
@inject PuzzleBasicSolutionViewModel<TuningTroubleSolution> PuzzleSolutionViewModel
<h2>Tuning Trouble</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
