@page "/TuningTroublePage"
@inherits PuzzlePageBase
<h2>TuningTroublePage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <PuzzleCodeViewer />
    <PuzzleInputForm />
    <PuzzleControler />
</CascadingValue>
@code {
    public TuningTroublePage() => PuzzleSolutionViewModel = new(new PuzzleSolutionWrapper(new TuningTrouble()));
}