@page "/UnstableDiffusionPage"
@inherits PuzzleSolutionPageBase<UnstableDiffusionSolution>
<h2>Unstable Diffusion</h2>
<PuzzleSolutionViewer Page=@this>
    <UnstableDiffusionVisualization Page="@this" />
</PuzzleSolutionViewer>

