@page "/UnstableDiffusionPage"
@inherits PuzzlePageBase
<h2>UnstableDiffusionPage</h2>
<CascadingValue Name="PuzzleSolutionViewModel" Value=@PuzzleSolutionViewModel>
    <div class="row">
        <div class="col-lg-6">
            <UnstableDiffusionView />
        </div>
        <div class="col-lg-6">
            <PuzzleCodeViewer />
            <PuzzleInputForm />
            <PuzzleControler />
        </div>
    </div>
</CascadingValue>
@code {
    public UnstableDiffusionPage() => PuzzleSolutionViewModel = new(new UnstableDiffusion());
}