@page "/UnstableDiffusionPage"
@inherits PuzzleSolutionPage
@inject UnstableDiffusionSolution PuzzleSolution
<h2>Unstable Diffusion</h2>
<CascadingValue Name="PuzzleSolutionPage" Value=@this>
    <CascadingValue Name="PuzzleSolution" Value=@PuzzleSolution>
        <div class="row">
        <div class="col-lg-6">
            <UnstableDiffusionView />
        </div>
        <div class="col-lg-6">
            <PuzzleCodeViewer PuzzleType=@(PuzzleSolution.GetType().Name) />
            <PuzzleInputForm />
            <PuzzleControler />
        </div>
    </div>
    </CascadingValue>
</CascadingValue>